
body{
    background-image: url('https://www.freecodecamp.org/news/content/images/2021/06/w-qjCHPZbeXCQ-unsplash.jpg');
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    background-size: cover;
    background-position: center;
  }
  
  .bluebutton {
    background-color: rgb(81, 81, 126);
    color: rgb(214, 102, 102);
    margin-top: 20%;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }

  h1 {
    font-family: monospace;
    font-weight: bold;
  }
  